{
  "presets": [
    [
      "vue-app",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "vue-app",
          {
            "targets": {
              "node": 8
            }
          }
        ]
      ]
    }
  }
}
